name: Update GitHub Activity

on:
  schedule:
    - cron: '0 0 * * *' # Daily at 00:00 UTC
  workflow_dispatch: # Allows manual triggering

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Fetch GitHub Data
        run: bun run data:fetch-github
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/github-activity.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "[CHORE] Update GitHub Activity data [skip ci]" && git push)
